<div class="jumbotron">
  <h1>{{Jumbotron-Title}}</h1>
  <p>{{Jumbotron-Text}}</p>
  <p><a class="btn btn-primary btn-lg" href={{Jumbotron-Link-Url}} role="button">{{Jumbotron-Link-Text}}</a></p>
</div>
